* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* -------------------header-------------------------------- */

.outerHeader {
  width: 100%;
}

.innerHeader {
  width: 1060px;
  margin: 0 auto;
}

.innerHeader .navBox {
  width: 100%;
  overflow: hidden;
}

.innerHeader .navBox .logo {
  width: 82px;
  height: 82px;
  background-color: yellow;
  float: left;
}

.innerHeader .navBox .gnb {
  float: right;
  display: flex;
}

.innerHeader .navBox .gnb li {
  float: left;
}

/* --------------------wrap------------------------ */
.wrap {
  width: 100%;
  height: 3000px;
  /* background-image: url(../img/bg_img.jpg) repeat-x; */
  background-image: url(../img/bg_img.jpg);
  background-repeat: repeat-x;
  /* background-attachment: fixed; */
  /* background-position: center;
  background-size: cover; */
}

/* -------------------visual main-------------------------------- */

#tab01,
#tab02,
#tab03,
#tab04,
#tab05 {
  display: none;
}

#tab01:checked ~ .sheet .sheet01 {
  display: block;
}
#tab02:checked ~ .sheet .sheet02 {
  display: block;
}
#tab03:checked ~ .sheet .sheet03 {
  display: block;
}
#tab04:checked ~ .sheet .sheet04 {
  display: block;
}
#tab05:checked ~ .sheet .sheet05 {
  display: block;
}

.visualMain {
  width: 1060px;
  height: 530px;
  margin: 0 auto;
}

.visualMain .sheet div {
  width: 1060px;
  height: 480px;
  display: none;
}

.visualMain .labelMain {
  width: 1060px;
  height: 50px;
  overflow: hidden;
}

.visualMain .labelMain label {
  display: block;
  width: 20%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  float: left;
}

#tab01:checked ~ .labelMain .labMain01 {
  background-color: red;
  color: white;
}
#tab02:checked ~ .labelMain .labMain02 {
  background-color: red;
  color: white;
}
#tab03:checked ~ .labelMain .labMain03 {
  background-color: red;
  color: white;
}
#tab04:checked ~ .labelMain .labMain04 {
  background-color: red;
  color: white;
}
#tab05:checked ~ .labelMain .labMain05 {
  background-color: red;
  color: white;
}

/* -------------------header-------------------------------- */
/* -------------------btntop------------------------------- */

.btnTop {
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
