* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* -------------------header-------------------------------- */

.gnbBox {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #ddd;
}

.gnbBox .gnb {
  margin: 9px auto;
  width: 1060px;
}

.gnbBox .gnb li {
  display: inline-block;
  float: right;
  border-left: 1px solid #9b9b9b;
  padding: 5px 8px;
  line-height: 1px;
  font-size: 12px;
  color: #6c757d;
  font-weight: 800;
}

.gnbBox .gnb li:last-child {
  border: none;
}

.outerHeader {
  width: 100%;
  background-color: #f8f9fa;
}

.innerHeader {
  width: 1060px;
  margin: 0 auto;
}

.innerHeader .navBox {
  width: 100%;
  overflow: hidden;
}

.innerHeader .navBox .logo {
  width: 82px;
  height: 82px;
  background-color: yellow;
  float: left;
  position: absolute;
  top: 35px;
}

.innerHeader .navBox .menu {
  float: right;
  display: flex;
  line-height: 70px;
  font-weight: bold;
}

.innerHeader .navBox .menu li {
  float: left;
  padding: 0 20px;
}

.lnbBox {
  width: 100%;
  height: 30px;
  background-color: black;
}

.lnbBox .lnb {
  width: 1060px;
  margin: 0 auto;
  transform: translateX(8%);
}

.lnbBox .lnb li {
  display: inline-block;
  color: white;
  line-height: 30px;
  padding: 0 30px;
}

/*---------------- header---------------------- */

/* --------------------wrap------------------------ */
.wrap {
  width: 100%;
  height: 3000px;
  /* background-image: url(../img/bg_img.jpg) repeat-x; */
  background-image: url(../img/bg_img.jpg);
  background-repeat: repeat-x;
  /* background-attachment: fixed; */
  /* background-position: center;
  background-size: cover; */
}
/* --------------------wrap------------------------ */

/* -------------------visual main-------------------------------- */

#tab01,
#tab02,
#tab03,
#tab04,
#tab05 {
  display: none;
}

#tab01:checked ~ .sheet .sheet01 {
  display: block;
}
#tab02:checked ~ .sheet .sheet02 {
  display: block;
}
#tab03:checked ~ .sheet .sheet03 {
  display: block;
}
#tab04:checked ~ .sheet .sheet04 {
  display: block;
}
#tab05:checked ~ .sheet .sheet05 {
  display: block;
}

.visualMain {
  width: 1060px;
  height: 530px;
  margin: 0 auto;
}

.visualMain .sheet div {
  width: 1060px;
  height: 480px;
  display: none;
}

.visualMain .labelMain {
  width: 1060px;
  height: 50px;
}

.visualMain .labelMain label {
  display: block;
  width: 210px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  float: left;
  border: 1px solid #ddd;
}

#tab01:checked ~ .labelMain .labMain01 {
  background-color: red;
  color: white;
}
#tab02:checked ~ .labelMain .labMain02 {
  background-color: red;
  color: white;
}
#tab03:checked ~ .labelMain .labMain03 {
  background-color: red;
  color: white;
}
#tab04:checked ~ .labelMain .labMain04 {
  background-color: red;
  color: white;
}
#tab05:checked ~ .labelMain .labMain05 {
  background-color: red;
  color: white;
}

/* -------------------visual main-------------------------------- */

.titleBox {
  width: 1030px;
  height: 60px;
  margin: 0 auto;
}

.titleBox .title {
  line-height: 60px;
  font-size: 30px;
}

/* -------------------btntop------------------------------- */

.btnTop {
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
/* -------------------btntop------------------------------- */

/* -------------------------------------------eventMain-------- */

.contents {
  width: 100%;
}

.eventMain {
  width: 1250px;
  height: 1220px;
  margin: 0 auto;
}

.eventMain .float {
  float: left;
}

.eventMain .button {
  width: 95px;
  height: 135px;
  background-color: blue;
  margin: 510px 0;
}

.content_left {
  width: 95px;
  height: 1160px;
}

.content_center {
  width: 1060px;
  height: 1160px;
}

.content-01 {
  width: 1060px;
  height: 580px;
  background-color: green;
}

.content-01 > div {
  width: 530px;
  height: 580px;
  background-color: blue;
  float: left;
}

.content-01 .content-012 > div {
  width: 530px;
  height: 290px;
  background-color: black;
}

.content-01 .content-012 > div div {
  width: 265px;
  height: 290px;
  background-color: green;
  float: left;
}

.content-02 {
  width: 1060px;
  height: 580px;
}

.content-02 > div {
  width: 530px;
  height: 580px;
  float: left;
}

.content-02 .content-021 > div {
  width: 530px;
  height: 290px;
}

.content-02 .content-021 > div div {
  width: 265px;
  height: 290px;
  float: left;
}

.content_right {
  width: 95px;
  height: 1160px;
}

/* -------------------------------------------eventMain-------- */

/* -------------------------------rollingVisual----------------------------- */

.rolling_visual {
  width: 1250px;
  height: 443px;
  margin: 0 auto;
}

.rolling_visual .float {
  float: left;
}

.rolling_visual .button {
  width: 95px;
  height: 135px;
  background-color: yellow;
  margin: 125px 0;
}

.rolling_visual .visual_left {
  width: 95px;
  height: 383px;
}

.rolling_visual .visual_center {
  width: 1060px;
  height: 383px;
}

.rolling_visual .visual_right {
  width: 95px;
  height: 383px;
}

/* -------------------------------rollingVisual----------------------------- */

/* -------------------------------allProduct----------------------------- */

.allProduct {
  width: 1060px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

.product01 {
  width: 1060px;
  height: 550px;
}

.product01 li {
  width: 265px;
  height: 275px;
  float: left;
}

.product02 {
  width: 1060px;
  height: 275px;
  overflow: hidden;
}

.product02 li {
  width: 265px;
  height: 275px;
  float: left;
}

#hamBtn {
  display: none;
}

#hamBtn ~ .product02 {
  height: 0;
}

#hamBtn:checked ~ .product02 {
  height: 275px;
}

#hamBtn ~ .label .openBtn {
  display: block;
}
#hamBtn ~ .label .closeBtn {
  display: none;
}
#hamBtn:checked ~ .label .openBtn {
  display: none;
}
#hamBtn:checked ~ .label .closeBtn {
  display: block;
}

.allProduct label {
  float: left;
  font-size: 30px;
  color: #9b9b9b;
  font-weight: 700;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* -------------------------------allProduct----------------------------- */

/* -------------------------bottomFooter----------------------------------- */

.footer {
  width: 100%;
  height: 850px;
  background-color: black;
}

.footer .bottomFooter {
  width: 1060px;
  margin: 0 auto;
}

.footer .footerTop {
  width: 1060px;
  height: 360px;
}

.footer .footerTop .title {
  width: 212px;
  height: 200px;
  float: left;
  padding: 50px 0;
}

.footer .footerTop .title strong {
  color: white;
}

.footer .footerTop .title li {
  margin: 17px 0;
  font-size: 12px;
  color: #9b9b9b;
}

.footercenter {
  margin: 0 auto;
  width: 1060px;
  height: 140px;
}

.footercenter .storelocation {
  width: 530px;
  height: 150px;
  float: left;
}

.footercenter .storelocation .storelocation-01 {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
  color: white;
}

.footercenter .storelocation .storesearch {
  width: 200px;
  height: 50px;
  background-color: red;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.05em;
}

.footercenter .sns {
  width: 530px;
  height: 150px;
  float: left;
}

.footercenter .sns .follow {
  width: 250px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
  color: white;
}

.footercenter .sns .sns-01 {
  width: 350px;
  height: 50px;
  margin: 0 auto;
}

.footercenter .sns .sns-01 img {
  float: left;
  padding: 0 10px;
}

.footerbottom {
  margin: 40px auto;
  width: 1060px;
  height: 250px;
}

.footerbottom > div {
  float: left;
}

.footerbottom .bottomFooter_left {
  width: 530px;
  height: 300px;
}

.footerbottom .bottomFooter_left .left_top {
  font-size: 12px;
  color: #9b9b9b;
  width: 530px;
  height: 180px;
  line-height: 20px;
}

.footerbottom .bottomFooter_left .left_top strong {
  color: white;
}

.footerbottom .bottomFooter_left .left_bottom {
  width: 530px;
  height: 100px;
}

.footerbottom .bottomFooter_left .left_bottom div {
  float: left;
}

.footerbottom .bottomFooter_left .left_bottom .bottom_logo {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.footerbottom .bottomFooter_left .left_bottom .bottom_logo img {
  width: 100%;
}

.footerbottom .bottomFooter_left .left_bottom .copyright {
  width: 450px;
  height: 50px;
  margin-left: 30px;
  font-size: 12px;
  color: #9b9b9b;
  line-height: 20px;
}

.footerbottom .bottomFooter_left .left_bottom .copyright strong {
  color: white;
}

.footerbottom .bottomFooter_right {
  width: 530px;
  height: 300px;
}

.footerbottom .bottomFooter_right .right {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  font-size: 12px;
  color: #9b9b9b;
  line-height: 20px;
}

.footerbottom .bottomFooter_right .right strong {
  color: white;
}

/* -------------------------bottomFooter----------------------------------- */
