* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* -------------------header-------------------------------- */

.gnbBox {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #ddd;
}

.gnbBox .gnb {
  margin: 9px auto;
  width: 1060px;
}

.gnbBox .gnb li {
  display: inline-block;
  float: right;
  border-left: 1px solid #9b9b9b;
  padding: 5px 8px;
  line-height: 1px;
  font-size: 12px;
  color: #6c757d;
  font-weight: 800;
}

.gnbBox .gnb li:last-child {
  border: none;
}

.outerHeader {
  width: 100%;
  background-color: #f8f9fa;
}

.innerHeader {
  width: 1060px;
  margin: 0 auto;
}

.innerHeader .navBox {
  width: 100%;
  overflow: hidden;
}

.innerHeader .navBox .logo {
  width: 82px;
  height: 82px;
  background-color: yellow;
  float: left;
  position: absolute;
  top: 35px;
}

.innerHeader .navBox .menu {
  float: right;
  display: flex;
  line-height: 70px;
  font-weight: bold;
}

.innerHeader .navBox .menu li {
  float: left;
  padding: 0 20px;
}

.lnbBox {
  width: 100%;
  height: 30px;
  background-color: black;
}

.lnbBox .lnb {
  width: 1060px;
  margin: 0 auto;
  transform: translateX(8%);
}

.lnbBox .lnb li {
  display: inline-block;
  color: white;
  line-height: 30px;
  padding: 0 30px;
}

/*---------------- header---------------------- */

/* --------------------wrap------------------------ */
.wrap {
  width: 100%;
  height: 3500px;
  /* background-image: url(../img/bg_img.jpg) repeat-x; */
  background-image: url(../img/bg_img.jpg);
  background-repeat: repeat-x;
  /* background-attachment: fixed; */
  /* background-position: center;
  background-size: cover; */
}
/* --------------------wrap------------------------ */

/* -------------------visual main-------------------------------- */

#tab01,
#tab02,
#tab03,
#tab04,
#tab05 {
  display: none;
}

#tab01:checked ~ .sheet .sheet01 {
  display: block;
}
#tab02:checked ~ .sheet .sheet02 {
  display: block;
}
#tab03:checked ~ .sheet .sheet03 {
  display: block;
}
#tab04:checked ~ .sheet .sheet04 {
  display: block;
}
#tab05:checked ~ .sheet .sheet05 {
  display: block;
}

.visualMain {
  width: 1060px;
  height: 530px;
  margin: 0 auto;
}

.visualMain .sheet div {
  width: 1060px;
  height: 480px;
  display: none;
}

.visualMain .labelMain {
  width: 1060px;
  height: 50px;
}

.visualMain .labelMain label {
  display: block;
  width: 210px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  float: left;
  border: 1px solid #ddd;
}

#tab01:checked ~ .labelMain .labMain01 {
  background-color: red;
  color: white;
}
#tab02:checked ~ .labelMain .labMain02 {
  background-color: red;
  color: white;
}
#tab03:checked ~ .labelMain .labMain03 {
  background-color: red;
  color: white;
}
#tab04:checked ~ .labelMain .labMain04 {
  background-color: red;
  color: white;
}
#tab05:checked ~ .labelMain .labMain05 {
  background-color: red;
  color: white;
}

/* -------------------visual main-------------------------------- */

.titleBox {
  width: 1030px;
  height: 60px;
  margin: 0 auto;
}

.titleBox .title {
  line-height: 60px;
  font-size: 30px;
}

/* -------------------btntop------------------------------- */

.btnTop {
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.contents {
  height: 1500px;
  margin: 0 auto;
  width: 1060px;
  position: relative;
}

.contents .button_left {
  width: 95px;
  height: 135px;
  background-color: yellow;
  position: absolute;
  top: 510px;
  left: -100px;
}

.contents_top {
}

.contents-1 {
  width: 1060px;
  height: 580px;
}

.contents-1 .contents-01 {
  width: 530px;
  height: 580px;
  float: left;
}
.contents-1 .contents-02 {
  width: 530px;
  height: 580px;
  background-color: #ddd;
  float: right;
}

.contents-1 .contents-02 .contents-02-1 {
  width: 265px;
  height: 290px;
  background-color: yellow;
  float: left;
}

.contents-1 .contents-02 .contents-02-2 {
  width: 265px;
  height: 290px;
  background-color: black;
  float: left;
}

.contents-1 .contents-02 .contents-02-3 {
  width: 265px;
  height: 290px;
  background-color: black;
  float: left;
}

.contents-1 .contents-02 .contents-02-4 {
  width: 265px;
  height: 290px;
  background-color: yellow;
  float: left;
}

.contents_bottom {
  border-bottom: 1px solid #ddd;
}

.contents-2 {
  width: 1060px;
  height: 580px;
}

.contents-2 .contents-03 {
  width: 530px;
  height: 580px;
  float: left;
}
.contents-2 .contents-03 .contents-03-1 {
  width: 265px;
  height: 290px;
  float: left;
}
.contents-2 .contents-03 .contents-03-2 {
  width: 265px;
  height: 290px;
  float: left;
}
.contents-2 .contents-03 .contents-03-3 {
  width: 265px;
  height: 290px;
  float: left;
}
.contents-2 .contents-03 .contents-03-4 {
  width: 265px;
  height: 290px;
  float: left;
}

.contents-2 .contents-04 {
  width: 530px;
  height: 580px;
  background-color: yellow;
  float: right;
}

.contents .button_right {
  width: 95px;
  height: 135px;
  background-color: yellow;
  position: absolute;
  right: -100px;
  top: 510px;
}

.activity {
  height: 383px;
  position: relative;
}

.activity .button_left {
  width: 95px;
  height: 135px;
  background-color: yellow;
  position: absolute;
  top: 120px;
  left: -100px;
}

.activity .rolling_visual {
  width: 1060px;
  height: 383px;
  background-color: black;
}

.activity .button_right {
  width: 95px;
  height: 135px;
  background-color: yellow;
  position: absolute;
  top: 0;
  right: 0;
  top: 120px;
  right: -100px;
}

#hamBtn {
  display: none;
}

#hamBtn ~ .product02 {
  display: none;
}

#hamBtn:checked ~ .product02 {
  display: block;
}

#hamBtn ~ .label .openBtn {
  display: block;
}
#hamBtn ~ .label .closeBtn {
  display: none;
}
#hamBtn:checked ~ .label .openBtn {
  display: none;
}
#hamBtn:checked ~ .label .closeBtn {
  display: block;
}

.newarrival {
  position: relative;
  width: 1060px;
  height: 870px;
}

.newarrival .label {
  position: absolute;
  top: -55px;
  right: 0;
}

.newarrival .label label {
  font-size: 30px;
  color: #9b9b9b;
  font-weight: 700;
}

.newarrival .product01 {
  width: 1060px;
  height: 550px;
  background-color: yellow;
  border-bottom: 1px solid #ddd;
}

.newarrival .product01 .product01-1 {
  width: 1060px;
  height: 275px;
  background-color: black;
}

.newarrival .product01 .product01-1 > div {
  width: 265px;
  height: 275px;
  background-color: #ddd;
  float: left;
}

.newarrival .product01 .product01-2 {
  width: 1060px;
  height: 275px;
  background-color: black;
}

.newarrival .product01 .product01-2 > div {
  width: 265px;
  height: 275px;
  background-color: #ddd;
  float: left;
}

.newarrival .product02 {
  width: 1060px;
  height: 275px;
}

.newarrival .product02 > div {
  width: 265px;
  height: 275px;
  background-color: #ddd;
  float: left;
}

.footer {
  background-color: black;
  width: 100%;
  position: relative;
}

.footer .bottombackground01 {
  background-color: black;
  width: 500px;
  height: 803px;
  position: absolute;
  left: -500px;
}
.footer .bottombackground02 {
  background-color: black;
  width: 490px;
  height: 803px;
  position: absolute;
  right: -420px;
}

.footer .bottomTop {
  color: white;
  display: flex;
  margin: 0 auto;
  width: 1060px;
  padding: 30px 0;
}

.footer .bottomTop ul {
  margin: 0 50px;
}

.footer .bottomTop ul li {
  font-size: 11px;
  line-height: 30px;
  color: #9b9b9b;
}

.footer .bottomTop ul strong {
  color: white;
}

.bottommiddle {
  margin: 0 auto;
  width: 1060px;
  height: 200px;
}

.bottommiddle .storelocation {
  width: 530px;
  height: 150px;
  float: left;
}

.bottommiddle .storelocation .storelocation-01 {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
  color: white;
}

.bottommiddle .storelocation .storesearch {
  width: 200px;
  height: 50px;
  background-color: red;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.05em;
}

.bottommiddle .sns {
  width: 530px;
  height: 150px;
  float: left;
}

.bottommiddle .sns .follow {
  width: 250px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
  color: white;
}

.bottommiddle .sns .sns-01 {
  width: 350px;
  height: 50px;
  margin: 0 auto;
}

.bottommiddle .sns .sns-01 img {
  float: left;
  padding: 0 10px;
}

.bottomFooter {
  margin: 0 auto;
  width: 1060px;
  height: 300px;
}

.bottomFooter > div {
  float: left;
}

.bottomFooter .bottomFooter_left {
  width: 530px;
  height: 300px;
}

.bottomFooter .bottomFooter_left .left_top {
  font-size: 12px;
  color: #9b9b9b;
  width: 530px;
  height: 180px;
  line-height: 20px;
}

.bottomFooter .bottomFooter_left .left_top strong {
  color: white;
}

.bottomFooter .bottomFooter_left .left_bottom {
  width: 530px;
  height: 100px;
}

.bottomFooter .bottomFooter_left .left_bottom div {
  float: left;
}

.bottomFooter .bottomFooter_left .left_bottom .bottom_logo {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.bottomFooter .bottomFooter_left .left_bottom .bottom_logo img {
  width: 100%;
}

.bottomFooter .bottomFooter_left .left_bottom .copyright {
  width: 450px;
  height: 50px;
  margin-left: 30px;
  font-size: 12px;
  color: #9b9b9b;
  line-height: 20px;
}

.bottomFooter .bottomFooter_left .left_bottom .copyright strong {
  color: white;
}

.bottomFooter .bottomFooter_right {
  width: 530px;
  height: 300px;
}

.bottomFooter .bottomFooter_right .right {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  font-size: 12px;
  color: #9b9b9b;
  line-height: 20px;
}

.bottomFooter .bottomFooter_right .right strong {
  color: white;
}
