*{
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

li {
    list-style: none
}

a {
    text-decoration: none;
    color: black;
}

.logoBox {
    width: 100%;
    height: 30px;
    overflow: hidden;
    background-color: #ddd;
}

.logoBox .logo {
    width: 104px;
    height: 36px;
    margin: 0 auto;

}

.outerHeader {
    width: 100%;
}

.innerHeader {
    width: 990px;
    margin: 0 auto;
}

.innerHeader .navBox {
    width: 100%;
    height: 70px;
    overflow: hidden;
}

.innerHeader .navBox .lnb {
    float: left;
}

.innerHeader .navBox .lnb li {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 70px;
    margin-right: 80px;
    
}

.innerHeader .navBox .gnb {
    float: right;
}

.innerHeader .navBox .gnb li {
    display: inline-block;
    font-size: 12px;
    line-height: 70px;
    margin-left: 20px;
    

}

.visualMain {
    width: 100%;
    height: 473px;
}



.contents {
    width: 100%;
    height: 800px;
    background-color: #ddd;
    padding: 40px 0;
}
.contents .container {
    width: 990px;
    margin: 0 auto;
}

.contents .container .title {
    margin-bottom: 15px;
}



.content {
    width: 990px;
    height: 740px;


}

.content>div {
    float: left;
}

.content img {
    width: 100%;
}



.content .content-01 {
    width: 490px;
    height: 500px;

}

.content .content-01>div {
    width: 490px;
    height: 490px;
    float: left;
}

.content .content-01 .content-01-1 {
    margin-right: 10px;
}
.content .content-01 .content-01-1>div {
    width: 240px;
    height: 490px;
    float: left;
}

.content .content-01 .content-01-1 .content-01-1-1 {
    margin-right: 10px;
}


.content .content-01 .content-01-1 .content-01-1-1>div {
    width: 240px;
    height: 240px;
    background-color: white;
}







.content-01-1-1 div {
    margin-bottom: 10px;
    position:relative;
    overflow: hidden;
}

.content-01-1-1 div div {
  border: none;
  margin: 0;
  width: 240px;
  height: 240px;
  background-color: blue;
  position: absolute;
  left: -240px;
  top: 0;
  transition: all 0.2s;
  opacity: 0.5;
  text-align: center;
  line-height: 240px;
}
.content-01-1-1 div:hover div {
    left: 0;
}

.content-01-1-2 {
    margin-bottom: 10px;
    position:relative;
    overflow: hidden;
}

.content-01-1-2 div {
  border: none;
  margin: 0;
  width: 240px;
  height: 490px;
  background-color: blue;
  position: absolute;
  left: -240px;
  top: 0;
  transition: all 0.2s;
  opacity: 0.5;
}
.content-01-1-2:hover div {
    left: 0;
}



.content-02-1 div {
    position: relative;
    overflow: hidden;
}

.content-02-1 div div {
    border: none;
    margin: 0;
    width: 240px;
    height: 240px;
    background-color: blue;
    position: absolute;
    left: -240px;
    top: 0;
    transition: all 0.2s;
    opacity: 0.5;
  }

  .content-02-1 div:hover div {
    left: 0;
  }

  .content-02-2 {
      position: relative;
      overflow: hidden;
  }

  .content-02-2 div {
    border: none;
    margin: 0;
    width: 490px;
    height: 240px;
    background-color: blue;
    position: absolute;
    top: -490px;
    transition: all 0.2s;
    opacity: 0.5;
  }

  .content-02-2:hover div {
    top:0;
  }


  .content-03 div {
      position: relative;
      overflow: hidden;
  }



  .content-03 div .content-03-1-1,
  .content-03 div .content-03-3-1 {
    border: none;
    margin: 0;
    width: 240px;
    height: 240px;
    background-color: blue;
    position: absolute;
    left: -240px;
    top: 0;
    transition: all 0.2s;
    opacity: 0.5;
  }

  .content-03 div .content-03-2-1 {
    border: none;
    margin: 0;
    width: 490px;
    height: 240px;
    background-color: blue;
    position: absolute;
    top: -490px;
    transition: all 0.2s;
    opacity: 0.5;
  }

  .content-03 div:hover .content-03-1-1,
  .content-03 div:hover .content-03-3-1{
      left: 0;
  }

  .content-03 div:hover .content-03-2-1{
      top: 0;
  }
  








.content .content-02 {
    width: 490px;
    height: 500px;
    background-color: #ddd;
    margin-left:10px
}

.content .content-02>div {
    width: 490px;
    height: 240px;
}

.content .content-02 .content-02-1 {
    margin-bottom: 10px;
}

.content .content-02 .content-02-1>div {
    width: 240px;
    height: 240px;
    background-color: blue;
    float: left;
}

.content .content-02 .content-02-1 .content-02-1-1 {
    margin-right: 10px;
}

.content-03 {
    width: 990px;
    height: 240px;
}

.content-03>div {
    float: left;
}

.content-03 .content-03-1 {
    width: 240px;
    height: 240px;
    background-color: yellow;
    margin-right: 10px;
}

.content-03 .content-03-2 {
    width: 490px;
    height: 240px;
    background-color: blue;
    margin-right: 10px;
}

.content-03 .content-03-3 {
    width: 240px;
    height: 240px;
    background-color: green;
}



.visual_bottom {
    width: 100%;
    height: 300px;
}



.container{
    width: 990px;
    height: 300px;

    margin: 0 auto;
}

.container .title {
    padding: 25px 0;
}

.container .jinro {
    width: 990px;
    height: 150px;
    background-color: white;
    font-size:12px;
}

.container .jinro>div {
    width: 330px;
    height: 150px;
    float: left;
}


.container .jinro .facebook>div {
    float: left;
}

.container .jinro .facebook .facebook_left {
    width: 115px;
    height: 108px;
}

.container .jinro .instagram>div {
    float: left;
}

.container .jinro .blog>div{
    float: left;
}



.footer {
    width: 100%;
    background-color: black;
}

.container1 {
    width: 990px;
    height: 300px;
    background-color: ;
    margin: 0 auto;
}

.container1 ul {
    width: 990px;
    height: 250px;

    text-align: center;
}

.container1 ul li {
    width: 198px;
    height: 300px;
    float: left;
    line-height: 30px;
    color: white;
}

.container1 ul li div {
    font-size: 12px;
}

.container1 ul .company div {
    width: 99px;
    height: 250px;
    float: left;
}

.footer_middle {
    width: 100%;
    height: 50px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    background-color: black;
    color:white;
}

.footer_middle .container2 {
    width: 990px;
    margin: 0 auto;
}

.footer_middle .container2>div {
    float: left;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
}
.footer_middle .container2 .left{
    width: 700px;
    height: 50px;

}

.footer_middle .container2 .middle {
    width: 143px;
    height: 50px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.footer_middle .container2 .right {
    width: 145px;
    height: 50px;


}

.footer_bottom .container3 {
    width: 990px;
    margin:0 auto;
    background-color: black;
}

.footer_bottom .container3 .text {
    width: 990px;
    height: 150px;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 150px;
}




